.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.blog-content{
    width: 80%;
    height: 200px;
    display: inline-block;
    vertical-align: top;
}

.blog-image{
    width: 20%;
    height: 200px;
    display: inline-block;
}

.profile {
    margin-left: 10px;
}

.blog-profile {
    width: 50px;
    vertical-align: center;
    display: inline-block;
}

.blog-profile-name {
    display: inline-block;
    vertical-align: top;
}